# This file is used for development secrets, and SAFE to include in source
# control.
#
# If you need a copy of production secrets (encrypted), request an encrypted
# copy of .envrc.production by sending a public key to me:
# Jeffrey Horn <jeff@jrhorn.me>.
#
# To automatically source this file when you enter the project and reset your
# shell when you leave, look into direnv (http://direnv.net).

source /usr/local/share/chruby/chruby.sh
chruby $(cat .ruby-version)
